<!DOCTYPE html>
<html th:fragment="layout (h1, section)"
      xmlns:th="http://www.thymeleaf.org">

<div th:replace="~{template/fragment/head :: head}"></div>

<body>
    <div class="mb-5">
        <div th:replace="~{template/fragment/navbar :: navbar}"></div>
    </div>

    <div class="m-5">
        <h1 th:replace="${h1}"></h1>
    </div>

    <div class="py-5 text-center">
        <section th:replace="${section}"></section>
    </div>

    <div class="py-5 text-center">
        <div th:replace="~{template/fragment/footer :: footer}"></div>
    </div>

</body>

</html>